.navbar-container {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  background-color: rgb(200, 244, 200);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
}
.navbar-logo {
  margin-left: 20px;
}
.navbar-item:hover {
  cursor: pointer;
  color: green;
  transform: scale(1.2;
}

.navbar-item {
  margin: 0 15px;
}
